@use '../../foundation/mixin';
@use '../../foundation/colors';
@use '../utility/functions' as *;

@include mixin.mq-down() {
  [data-media]:not([data-media~='sp']) {
    display: none;
  }
}

@include mixin.mq-up() {
  [data-media]:not([data-media~='pc']) {
    display: none;
  }
}

.u-spacing-sp {
  @include mixin.mq-down(md) {
    margin-left: -7px;

    &--step {
      margin-left: -5px;
    }
  }
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-width-100 {
  width: 100%;
}

.u-block {
  display: block;
}

.u-margin-b-20 {
  margin-bottom: 20px;
}

.u-list-style-none {
  list-style: none;
}

.u-divider {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: colors.$color-523C3C;
  }
}

.u-relative {
  position: relative;
}

.u-fade-up {
  transform: translateY(50px);
  opacity: 0;
  transition:
    opacity 0.8s ease-in-out,
    transform 0.6s ease-out;

  &.is-faded {
    opacity: 1;
    transform: none;
  }
}
